<footer class='footer'>
  <div class='footer-text-wrap'>
    <%= link_to "トップページへ", root_path, class: 'footer-text'%>
    <%= link_to 'プライバシーポリシー', "#", class: 'footer-text'%>
    <%= link_to '利用規約', "#", class: 'footer-text'%>
  </div>
</footer>