<footer class='fotter'>
  <div class='fotter-text-wrap'>
    <%= link_to "トップページへ", root_path, class: 'fotter-text'%>
    <%= link_to 'プライバシーポリシー', "#", class: 'fotter-text'%>
    <%= link_to '利用規約', "#", class: 'fotter-text'%>
  </div>
  <%#= image_tag "#", class:"fotter-logo"%>
</footer>