* {
  box-sizing: border-box;
}

html{
  background-image:url('geresuki3.jpg');
  background-size: 100px;
  background-position: top center;
}

body{
  margin: 0;
  padding: 0;
}
/*gerendes/header*/
.header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.geresuki-icon{
  width: 30vw;
  height: 100px;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-title{
  display: flex;
  align-items: center;
  margin-right: 1vw;
}

.search-form {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
}

.search-text{
  width: 20vw;
  height: 30px;
}

.search-btn {
  width: 5vh;
  height: 30px;
  margin-right: 2vw;
  border: 0;
  background-color: #3ccace;
  padding: 4px;
  border-radius: 10px;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.show-lists{
  column-count: 3;
  background-color: white;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  margin-right: 2vw;
}

.header_btn{
  width: 90px;
  height: 30px;
  background-color: #3ccace;
  border-radius: 10px;
}

.header_btn:hover, .search-btn:hover{
  background-color: #ffff00;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}
/*gerendes/index*/

.gerende-index{
  background-image:url('geresuki3.jpg');
  background-size: 100px;
  background-position: top center;
}

.main-image{
  height: 500px;
  width: 100%;
}

.title{
  font-size: 40px;
  color: #333333;
  text-decoration: none;
}

.list-text{
  color: #333333;
  text-decoration: none;
}

.list{
  list-style: none;
}

/*gerendes/show*/
.subtitle, .nickname, .comment-image, .form-input{
  padding-left: 2vw;
}

.subtitle{
  color: #333333;
  text-decoration: none;
}

.gerende-image{
  height: 500px;
  width: 100%;
}

.form {
  display: flex;
}

.form-input {
  display: flex;
  width: 100%;
}

.text-area{
  width: 100%;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  padding: 0 20px;
  border-radius: 10px;
}


.form-image {
  background-color: lightblue;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.hidden{
  display: none;
}

.comment-image{
  width: 85vw;
  height: 400px;
}

.btn{
  width: 50px;
  height: 5vh;
  background-color: black;
  color: white;
  border-radius: 10px;
  float: right;
  
}

/*gerendes/footer*/
.footer {
  width: 100%;
  min-width: 800px;
  height: 200px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.footer-text-wrap {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.footer-text {
  color: #333;
  font-size: 12px;
  margin: 0 10px;
}