<%= render "shared/header" %>

<div class='gerende-index'>
    <h2 class='title'><%=link_to 'ゲレンデ一覧',root_path %></h2>
    
    <ul class='item-lists'>
    <% @gerendes.each do |gerende|%>
      <li class='list'>
        <%= link_to gerende.name %>
      </li>
    <% end %>
<%= render "shared/footer" %>